.wrap {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100px;
  border-right: 1px solid rgb(221, 221, 221);
}

.canvas {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  height: 100%;
}
