.wrap {
  overflow-y: scrool;
  overflow-x: hidden;
  /* position: absolute; */
  height: 100%;
  border-right: 1px solid rgb(221, 221, 221);
}
.downLoad {
  display: flex;
  justify-content: flex-end;
}
