.wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  width: 100%;
}
.styleBtn {
  width: 100%;
}
.optionBtn {
  width: 100%;
}
.eventBtn {
  width: 100%;
}
.dataBtn {
  width: 100%;
}
