.wrap{
  width: 100%;
  margin-right:10px;
  display: flex;
  // justify-content: flex-end;
}
.marginAndPaddingContainer {
  position: relative;
  width: 220px;
  height: 150px;
  .margin.hide {
    opacity: .3;
    pointer-events: none;
  }

  .padding.hide {
    opacity: .3;
    pointer-events: none;
  }

  .helpTxt {
    position: absolute;
    top: 2px;
    font-size: 12px;
    display: block;
    transform: scale(0.85);
  }

  .hInput {
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    height: 20px!important;
    background: transparent;
    width: 100%;

    &.bottom {
      top: 0;
    }

    & input {
      width: 100%;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      font-weight: 400;
      vertical-align: middle;
      background-color: transparent;
      text-align: center;
      line-height: 20px;
      height: 20px;
    }
  }

  .vInput {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    width: 20px;
    margin: auto;
    background: transparent;

    &.left {
      right: 0;
    }

    & input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -5px;
      margin: auto;
      width: 30px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0 5px;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

  .marginTop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #d6e4ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .marginRight {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #d6e4ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .marginBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #d6e4ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .marginLeft {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #d6e4ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .paddingTop {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #d6e4ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .paddingRight {
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: 25px;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #d6e4ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .paddingBottom {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #d6e4ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .paddingLeft {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 25px;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #d6e4ff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

}
